@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="StyleIndex.css">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title> MovieFriend</title>
</head>

<body>

</body>
</html>
